<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input type="text" formnovalidate placeholder="请输入你的名字">
    <input type="tel">
    <input type="email" required>
     <p>毕业时间<input type="datetime"></p>
    <p>毕业学校<input type="text" name="毕业学校"></p>

    <p>备注<input type="text" name="remarks"></p>
    <input type="url">
    <input type="submit" value="Submit">

</form>
   <p contenteditable="true" hidden>fffff</p>
</body>
</html>