<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .asd{
            background-color: aqua;
            position: relative;
            width:300px;
            height:100px;
            z-index:10;
        }
        .square{
            width:300px;
            height:100px;
            background-color: #d53c1f;
            left: 30px;
        }
    </style>
</head>
<body>
<div class="asd"></div>
<div class="square"></div>






</body>
</html>