<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="jianshu.css" rel="stylesheet" type="text/css">


</head>
<body>
<header class="nav">
    <a><img class="print" src="/training/public/images/logo.png"></a>
    <ul class="list1">
        <li ><a  href="http://www.jianshu.com/">首页</a></li>
        <li ><a href="http://www.jianshu.com/apps">下载APP</a></li>
        <li >搜索</li>
    </ul>
    <ul class="list2">
        <li><a href="#">写文章</a></li>
        <li><a href="#">注册</a></li>
        <li><a href="#">登陆</a></li>
        <li><a href="#">Aa</a></li>
    </ul>
</header>

<div>
    <div class="info">
             <div class="picture">
             </div>

        <div class="photo">

            <a class="photo-1" >连载小说</a>
            <a class="photo-2">影视天地</a>
            <a class="photo-3">漫画-手绘</a>
            <a class="photo-4">社会热点</a>
            <a class="photo-5">大脑</a>
            <a class="photo-6">体育</a>
            <a class="photo-7" >人生</a>
            <a class="photo-8"> 更多推荐</a>

        </div>

    </div>

    <div class="hospot">

        <div class="new_list">
              新上榜
        </div>

        <div  class="daily">
                  日报
        </div>
        <div  class="seven_hospot">
                     7天热点
        </div>

        <div  class="thirty-hospot">
                         30天热点
        </div>

         <div class="APP">

         </div>

    </div>

    <div class="clear:both">

    </div>
</div>

<div class="author">

    <div class="article">
    <div class="big-box">
      <div class="topic">
          <div class="avatar">
            <a class="intro" >怀左同学 7 小时前</a>
          </div>
          <div class="clear:both">

          </div>

          <div class="character">
             <h2>
                 优秀的人为什么要和你在一起
             </h2>
              <p>
                  01 一直有一个这样的问题：“为什么优秀的人总是不合群？”
                  网上最经典的答案是：“优秀的人也合群，只是他们合的群里没有你。”
                  02 想起了自己的一些故事。 大学时，我遇到了一...
              </p>
          </div>

      </div>
      <div class="photograph">

      </div>
      <div class="clear:both"></div>
  </div>

    <div class="big-box">
        <div class="topic">
            <div class="avatar">
                <a class="intro" >怀左同学 7 小时前</a>
            </div>
            <div class="clear:both">

            </div>

            <div class="character">
                <h2>
                    优秀的人为什么要和你在一起
                </h2>
                <p>
                    01 一直有一个这样的问题：“为什么优秀的人总是不合群？”
                    网上最经典的答案是：“优秀的人也合群，只是他们合的群里没有你。”
                    02 想起了自己的一些故事。 大学时，我遇到了一...
                </p>
            </div>

        </div>
        <div class="photograph">

        </div>
        <div class="clear:both"></div>
    </div>

    <div class="big-box">
        <div class="topic">
            <div class="avatar">
                <a class="intro" >怀左同学 7 小时前</a>
            </div>
            <div class="clear:both">

            </div>

            <div class="character">
                <h2>
                    优秀的人为什么要和你在一起
                </h2>
                <p>
                    01 一直有一个这样的问题：“为什么优秀的人总是不合群？”
                    网上最经典的答案是：“优秀的人也合群，只是他们合的群里没有你。”
                    02 想起了自己的一些故事。 大学时，我遇到了一...
                </p>
            </div>

        </div>
        <div class="photograph">

        </div>
        <div class="clear:both"></div>
    </div>
        <div class="big-box">
            <div class="topic">
                <div class="avatar">
                    <a class="intro" >怀左同学 7 小时前</a>
                </div>
                <div class="clear:both">

                </div>

                <div class="character">
                    <h2>
                        优秀的人为什么要和你在一起
                    </h2>
                    <p>
                        01 一直有一个这样的问题：“为什么优秀的人总是不合群？”
                        网上最经典的答案是：“优秀的人也合群，只是他们合的群里没有你。”
                        02 想起了自己的一些故事。 大学时，我遇到了一...
                    </p>
                </div>

            </div>
            <div class="photograph">

            </div>
            <div class="clear:both"></div>
        </div>
        <div class="big-box">
            <div class="topic">
                <div class="avatar">
                    <a class="intro" >怀左同学 7 小时前</a>
                </div>
                <div class="clear:both">

                </div>

                <div class="character">
                    <h2>
                        优秀的人为什么要和你在一起
                    </h2>
                    <p>
                        01 一直有一个这样的问题：“为什么优秀的人总是不合群？”
                        网上最经典的答案是：“优秀的人也合群，只是他们合的群里没有你。”
                        02 想起了自己的一些故事。 大学时，我遇到了一...
                    </p>
                </div>

            </div>
            <div class="photograph">

            </div>
            <div class="clear:both"></div>
        </div>
   </div>

    <div class="side">
        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                     <p>+ 关注</p>
            </div>

            <div class="clear:both"></div>
        </div>

        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                <p>+ 关注</p>
            </div>

            <div class="clear:both"></div>
        </div>

        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                <p>+ 关注</p>
            </div>

            <div class="clear:both"></div>
        </div>

        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                <p>+ 关注</p>
            </div>

            <div class="clear:both"></div>
        </div>

        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                <p>+ 关注</p>
            </div>

            <div class="clear:both"></div>
        </div>

        <div class="presentation">
            <div class="write" >
                <div class="sculpture">

                </div>
                <div>   <p>刘淼</p>
                    <p>写了219.6K字 · 13.0K喜欢</p>
                </div>

            </div>

            <div class="attention">
                <p>+ 关注</p>
            </div>

            <div class="clear:both">

            </div>
        </div>

        <div class="more">
            查看更多>

        </div>
    </div>



</div>




</body>
</html>