<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #firstname{

            background-color: antiquewhite;
        }
        .lastname{

            background-color:deepskyblue;

        }
        element > element {color:red;}
         element element{color:greenyellow;}
        element p{color:rebeccapurple;}
    </style>
</head>
<body>
<div id="firstname">This is <element>very</element> very important.

<div class="lastname"><p>This is veryvery important.</p></div>
</div>
<element><p>This is veryvery important.</p></element>
<!--<element name="element">This is <element>very</element> very important.</element>
<element>This is <element>very</element> very important.</element>-->

</body>
</html>